<%- include('../inc/top.ejs') %>

    <div class="bd-masthead mb-3">
        <div class="container-xxl bd-gutter">
            <div class="col-md-8 mx-auto text-center">
                <h1 class="mb-3 fw-semibold lh-1">Welcome to the Commodity Management Website</h1>
            </div>
            <div class="route">
                <div class="d-flex justify-content-center">
                    <a href="/products" class="button-63 text-center" role="button"><i
                            class="fa-solid fa-chevron-right fa-beat fa-xl"></i></a>
                </div>
                <div class="col-md-8 mx-auto text-center">
                    <h2 class="mb-3 fw-semibold lh-1">Product Management</h2>
                </div>
            </div>
            <div class="route">
                <div class="d-flex justify-content-center">
                    <a href="/users" style="background-image: linear-gradient(144deg,#2ec6b5, #94bbe9 50%,#f9ade4);"
                        class="button-63 text-center" role="button"><i
                            class="fa-solid fa-users-viewfinder fa-xl"></i></a>
                </div>
                <div class="col-md-8 mx-auto text-center">
                    <h2 class="mb-3 fw-semibold lh-1">User Management</h2>
                </div>
            </div>
        </div>
    </div>


    <%- include('../inc/bottom.ejs') %>