<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Commodity Management Website</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/docs.css" />

    <link rel="stylesheet" href="/bootstrap/fontawesome-free-6.3.0-web/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/styleHome.css" />
    <script src="/javascripts/jquery.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid justify-content-between">
            <a class="navbar-brand" href="#"><img style="width: 90px; height: 30px" src="/images/logoFPT.png"
                    alt="" /></a>

            <a class="btn btn-outline-success flex-shrink-0 d-sm-inline-block no-underline border border-color-default rounded px-2 py-1 me-3 d-none d-sm-block"
                data-bs-toggle="modal" data-bs-target="#ModalSignin">Sign in</a>

        </div>
    </nav>

    <% if (announce.length> 0) { %>
        <p class="alert alert-info">
            <%= announce %>
        </p>
        <% } %>

            <section class="vh-100">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 text-black">

                            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                                <form style="width: 23rem;" method="post">

                                    <h3 class="fw-bold mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form2Example18" name="username"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="form2Example18">Username</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="form2Example28" name="password"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="form2Example28">Password</label>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-info btn-lg btn-block" type="submit">Login</button>
                                    </div>

                                    <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a>
                                    </p>
                                    <p>Don't have an account? <a data-bs-toggle="modal" data-bs-target="#ModalRegister"
                                            class="link-info">Register here</a></p>

                                </form>

                            </div>

                        </div>
                        <div class="col-sm-6 px-0 d-none d-sm-block">
                            <img src="/images/Assassin-1.png" alt="Login image" class="w-100 vh-100"
                                style="object-fit: cover; object-position: left;">
                        </div>
                    </div>
                </div>
            </section>


            <%- include('../inc/bottom.ejs') %>